@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    background-color: darkgoldenrod;
}

body {
    display: grid;
    justify-content: center;
    background-color: white;
}

.orangeFont {
    color: rgb(247, 204, 92);
}

.orangeBackground {
    background-color: rgb(247, 204, 92);
    color: white;
}

a {
    text-decoration: none;
}

i {
    color: rgb(247, 204, 92);
}

.mainSection {
    padding: 20px;
}

.allBeerSetion {
    padding-bottom: 50px;
}

.BeerDetails {
    padding-bottom: 100px;
}

footer {
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100vw;
    background-color: rgb(247, 204, 92);
    display: block;
    text-align: center;
}